<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" style="color: aliceblue;" aria-current="page" href="/">
          <i class="bi bi-house" style="color: aliceblue;"></i>
          User Dashboard
        </a>
      </li>
      <li class="nav-item" style="color: aliceblue;">
        <a class="nav-link" style="color: aliceblue;" href="/about">
          <i class="bi bi-patch-question" ></i>
          About
        </a>
      </li>
    </ul>
  </div>
</nav>