<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">About</h1>
</div>

<img src="https://i.pinimg.com/originals/6a/bd/a8/6abda87684b0fe5a097930d00eb5d7ee.gif" alt="Laptop" width="473" height="346">
<p>Made with Bootstrap, NodeJS and MongoDB🚀</p>

<div class="pt-3">
  <p>This is a simple CRUD Application where we can add,edit,search and view customer details</p>
</div>
